.password-manager-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.title {
    display: block;
}

.passwords-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.password-edit-button {
    display: block;
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#autoWidthInput {
    width: 150px;
    min-width: 50px;
    max-width: 100%;
    box-sizing: border-box;
}