/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    /* Dark background color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    /* Adjust the spacing inside the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: adds shadow for depth */
    z-index: 1000;
    /* Ensure navbar stays above other content */
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Styles for the logout button to make it visually distinct */
.navbar button {
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: darkred;
}

/* Style for the username to make it */

.logout-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    font-size: 16px;
    font-weight: bold;
}